{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
      <a>
        <strong class="blue-text">E-Commerce</strong>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'app1:home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'app1_api:mockupdata' %}">Products <span class="sr-only"></span></a>
          </li>
         </ul>
        <ul class="navbar-nav ml-auto">
          <a class="nav-link waves-effect" href="{% url 'app1:ordersummary' %}">
            <span class="badge red z-depth-1"> {{request.user | cart_item_count}} </span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        </li>
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
          </li>
          <li class="nav-item active">
            {% else %}
            <a class="nav-link" href="{% url 'users:login' %}">Login</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>